* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #f2f4f8;
}

/* Navbar */
.navbar {
    background: #4a90e2;
    color: white;
    padding: 15px;
    text-align: center;
}

.navbar h1 {
    margin: 0;
}


/* Container */
.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.box {
    background: white;
    width: 380px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.box input {
    width: 100%;
    padding: 9px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Buttons */
.btns {
    display: flex;
    gap: 10px;
}

button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #4a90e2;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.reset {
    background: #f44336;
}

/* Result */
#result {
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
}
